<header></header>

<section class="principal">

    <button [routerLink]="['']"></button>

    <div class="ts">
        <label>04/10/2008</label><br>
        <label>Dynamo Kyiv - FC Barcelona</label><br>
        <label>1 - 2</label><br>
    </div>

    <div class="video">
        <iframe width="480" height="289" src="https://www.youtube.com/embed/xhGwjUKbiC4" title="Lionel Messi Free Kick v  Liverpool [Home 2019, UCL] English Commentary - 1080p" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>