:host{

    .escolhas{
        
        display: flex;
        margin-left: 250px;
        font-size: 26px;
        font-weight: 700;
        background: #B9B9B9;
        border-radius: 10px;
    
        option{
    
            font-weight: 700;
            font-size: 23px;
        }
    }
}