<select class="escolhas">
    <option>Jamaica</option>
    <option>Villarraaaaaeal</option>
</select>

<section class="principal">
    <section class="separa">
        <a>
            <div>
                <label>04/10/2008</label>
                <label>Dynamo Kyiv - FC Barcelona</label>
                <label>1 - 2</label>
            </div>
        </a>
        
        <a>
            <div>
                <label>04/10/2008</label>
                <label>Dynamo Kyiv - FC Barcelona</label>
                <label>1 - 2</label>
            </div>
        </a>
    </section>
</section>

